<a class="waves-effect waves-teal btn-flat" href="{{categoryurl}}"><i class="material-icons left">arrow_back</i> Back to {{categoryname}}</a>

<span class="right"><i>{{published}}</i> by {{author}}</span>
{{{content}}}
